<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default  box-white panel-status">
                <div class="panel-body padding-none">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user-md fa-5x panel-status-icon fa-fa-margin"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div class="text-uppercase text-xs fa-fa-margin">Total Customer <%= @customer_count %></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>

        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default box-white panel-status panel-info">
                <div class="panel-body padding-none">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x panel-status-icon fa-fa-margin"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div class="text-uppercase text-xs">Total Seller <%= @seller_count %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>


        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default  box-white panel-status">
                <div class="panel-body padding-none">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-product-hunt fa-5x panel-status-icon fa-fa-margin"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div class="text-uppercase text-xs">Total Product <%= @product_count %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>




        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default  box-white panel-status">
                <div class="panel-body padding-none">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x panel-status-icon fa-fa-margin"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div class="text-uppercase text-xs fa-fa-margin">Total Order <%= @order_count %></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>

        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default box-white panel-status panel-info">
                <div class="panel-body padding-none">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-ravelry fa-5x panel-status-icon fa-fa-margin"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div class="text-uppercase text-xs">Total Advert. <%= @advt %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>


        <div class="col-lg-3 col-md-5 col-sm-5 dashboard-backcolor">
            <div class="panel panel-default  box-white panel-status">
                <div class="panel-body padding-none">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-ticket fa-5x panel-status-icon fa-fa-margin"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div class="text-uppercase text-xs">Total Coupon <%= @coupon %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>



    </div>
</div>

                    
          