<tr>
    <td><%= coupon.code %></td>
    <td><%= coupon.valid_from %></td>
    <td><%= coupon.valid_to %></td>
    <td><%= coupon.min_amt %></td>
    <td><%= coupon.amt_discount %></td>
    <td><%= link_to  "Delete",  coupon_path(coupon), method: :delete, remote: true ,class: 'btn btn-danger delete_coupon' %></td>
</tr>