<div class="container get-margin">
    <div class="row">
        <div class= "col-md-2">
        </div>

        <div class="col-md-8">

            <table class="table table-bordered" style="background-color:white;">
                <tr>
                    <td>Product Image</td>
                    <td>Product Name</td>
                    <td>Product Price</td>
                    <td>Qty</td>
                    <td>Total Amount</td>
                    <td>Action</td>
                </tr>

                <% @carts.each do |cart| %>
                    <tr>
                        <td><%= image_tag url_for(cart.product_size_color.product.images.first), class: 'advertisement-img' %></td>
                        <td><%= cart.product_size_color.product.name %></td>
                        <td><%= cart.product_size_color.product.price %></td>
                        <td><%= cart.qty %></td>
                        <td><%= cart.tot_amt %></td>
                        <td><%= link_to cart_path(cart), method: :delete, class: 'delete_cart', remote: 'true' do %>
                                <i class="glyphicon glyphicon-trash"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %> 
            </table>

            <% if @carts.count > 0 %>
                <%= link_to  "Checkout", addresses_path, class: 'btn btn-success' %>
            <% end %>
        </div>

        <div class="col-md-2">
        </div>

    </div>
</div>





