<%= form_for( @subcategory , remote: true, html: { onsubmit: 'check_validation()' }) do |f| %>
    <div class="form-group dropdownlist">
        <%= f.label :category_name %>
        <%= f.select :category_id, options_for_select([["Select Category Name",0]] + @categories.collect{ |c| [c.name, c.id] }), {} ,class: 'form-control' %>
        <p class="hide-text red-color">Select Category name</p>    
    </div>
    
    <div class="form-group fortextbox">
        <%= f.label :sub_category_name %>
        <%= f.text_field :name,class: 'form-control' %>
        <p class="hide-text red-color">Sub-category name is required</p>
    </div>
    
    
    <div class="form-group">
        <%= f.submit "Add",class: 'btn btn-success' %>
    </div>
<% end %>