<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm topbar">

        <ul class="navbar-nav font-hover-menu">
            
            <li class="nav-item">
                <%= link_to  "E-commerce", root_path, class: 'navbar-brand upcase anchor-ecomm-text-color ' %>
            </li>

            <% if user_signed_in? %>

                <% if current_user.user_role == 'Admin' %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            User
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Manage User</a>
                            <a class="dropdown-item" href="#">Manage Advertisement</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Product
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Manage Product</a>
                            <%= link_to "Manage Product size", product_sizes_path, class: 'dropdown-item' %>
                            <%= link_to "Manage Product Color", product_colors_path, class: 'dropdown-item' %>
                            <a class="dropdown-item" href="#">Manage Cart</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Manage Coupon
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Manage Order
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Category
                        </a>
                        <div class="dropdown-menu">
                            <%= link_to  "Manage Category", categories_path, class: 'dropdown-item' %>
                            <%= link_to  "Manage Sub-Category", sub_categories_path, class: 'dropdown-item' %>
                        </div>
                    </li>

                <% else %>


                    <li class="nav-item dropdown">
                        <a class="nav-link for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Home
                        </a>
                    </li>

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                            Product
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Men</a>
                            <a class="dropdown-item" href="#">Women</a>
                            <a class="dropdown-item" href="#">Kids</a>
                        </div>
                    </li>

                    <% if current_user.user_role == 'Seller' %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                                Manage Product
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Manage Product</a>
                                <a class="dropdown-item" href="#">Manage Order</a>
                            </div>
                        </li>

                    <% end %>
    

                <% end %>

                 <li class="nav-item dropdown last-dropdown">
                    <a class="nav-link dropdown-toggle for-a-tag-in-menu" href="#" id="navbardrop" data-toggle="dropdown">
                        <%= current_user.email %>
                    </a>
                    <div class="dropdown-menu">
                        <%= link_to "My Profile",  edit_user_registration_path , class: 'dropdown-item'%>
                        <%= link_to "Log out",  destroy_user_session_path , method: :delete ,class: 'dropdown-item'%>
                    </div>
                </li>


            <% end %>
        </ul>

    </nav>





    
    <% if notice %>
        <div class="alert alert-success get-margin-at-bottom">
        <p class="notice"><%= notice %></p>
        </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger get-margin-at-bottom">
        <p class="alert"><%= alert %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
